<div class="row mt-4">
  <div class="col-12 mb-2">
    <button class="btn" routerLink="../" [class.btn-outline-dark]="true">
      <i class="fa fa-arrow-alt-circle-left"></i>
      Back</button>
  </div>
</div>
<div class="row d-flex">

  <div class="col-6 mt-5 mb-2 videos-titles">Photos
    <span class="float-right">
			<!--<button type="button" class="btn btn-outline-primary btn-lg" (click)="updateOrder()" >Update</button>-->
		</span>
  </div>
  <div class="col-6 mt-5 mb-2 videos-titles" >
    <p *ngIf="displayForm">Edit Photo
      <span class="float-right">
			<button type="button" class="mt-3 btn btn-outline-danger btn-lg" (click)="cancelEdit()" >Cancel edit</button>
		</span>
    </p>
  </div>


  <div class="col-6 mt-2 mb-2 videos-titles">
      <arf-photo-item  *ngFor="let photo of photos;let index=index"
                       [item]="photo"
                       [index]="index"
                       (onRemove)="removeFromDatabase(photo)"
                       (onEdit)="showEditForm(photo)"></arf-photo-item>
  </div>
  <div class="col-6 mt-2 mb-2 " *ngIf="displayForm">

    <form name="form" class="bg-white p-4 border" role="form"  [formGroup]="form" (ngSubmit)="updatePhoto()" >

      <div class="form-group">
        <label >Video Image</label><br>
        <img src="{{pic}}" class="img-fluid" width="350px"/>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" name="description" id="description" placeholder="description" rows="6" formControlName="description"></textarea>
        <div class="text-danger" *ngIf="form.controls['description'].dirty && form.controls['description'].invalid">
          <p class="error-text" *ngIf="form.controls['description'].errors.required">
            Photo description is required.
          </p>
        </div>
      </div>
      <button type="submit" [disabled]="form.invalid" class="mt-3 btn btn-primary btn-lg" >Update</button>

    </form>

  </div>
</div>