@import '../../../../assets/variables';
h2{
  font-size: 2.8em;
  color: $mid-blue-grey;
}
.videos-titles{
  font-size: 2em;
  color: $mid-blue-grey;
}


.cdk-drop-list{
}
//.cdk-drop-dragging .cdk-drag {
//  transition: transform 500ms cubic-bezier(0, 0, 0.2, 1);
//}
//.cdk-drag-animating {
//  transition: transform 550ms cubic-bezier(0, 0, 0.2, 1);
//}
.cdk-drag-placeholder {
  background: rgba(0, 0, 0, .2);
}