<div class="container-fluid sofb-subheader">
    <div class="col-12 text-center pt-4">
        <h1 class="text-center text-muted"> PAGE NOT FOUND </h1>
    </div>
</div>
<br>
<div class="container-fluid">
    <div class="row justify-content-center p-3">
        <div class="col-12 p-4 text-center content-error">
            <div class="row">
                <div class="col">
                    <h1 class="text-danger">
                        404
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>
