<div class="wrap-photos p-2" [@photosAnimationVertical]="photos$?.length">
  <arf-content-photo-item  class="col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2 p-2" *ngFor="let photo of photos$" (click)="openModal(photo)" [photo]="photo"></arf-content-photo-item>
</div>
