<div >
<div class="wrap">
  <div class="col-12 pb-2">
    <arf-content-sub-title [title]="'Contact '" [position]="'left'"></arf-content-sub-title>
  </div>
  <div class="col-12 col-lg-3">
    <div class="p-4">
      <img src="assets/logo.jpg" class="img-fluid">
    </div>
  </div>
  <div class="col-12 col-lg-6 text-center" style="padding-top: 10%">
    <a href="mailto:brock@dicepeople.com" class="contact text-light"> <i class="fa  fa-envelope"></i> brock@dicepeople.com</a><br>
    <a href="tel:+44 (0)7973 797020" class="contact text-light"> <i class="fa  fa-phone-square"></i> +44 (0)7973 797020 </a>
  </div>
  <div class="col-12 col-lg-3 text-center" style="padding-top: 10%">
    <arf-social [size]="5"></arf-social>
  </div>
</div>
</div>