<div class="mt-4">
    <ul class="list-group mt-4">
        <li class="list-group-item" [routerLink]="['/account/my-details']">Account Details <span class="float-right">
        <i class="fa fa-user"></i>
      </span>
        </li>
        <li class="list-group-item" [routerLink]="['/account/change-password']">Change Password <span class="float-right">
        <i class="fa fa-lock"></i>
      </span>
        </li>
    </ul>
</div>

