@import '../../../../assets/variables';


li {
  padding: 1em 2em;
  font-size: 1.4em;
  color: $mid-blue-grey;
}

li:hover{
  border: 1px solid $light-blue;
  color: $light-blue;
  cursor: pointer;
}


