
.wrap {
  padding-bottom:1em;
  //background-color: #232526 ;
  padding-left:15px;
  padding-right:15px;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  iframe{
    width:350px!important;
    height:240px!important
  }
}
