

<div class="wrap row justify-content-start">
  <div  #wrap  class="col-12 col-lg-8 p-3 text-center">
    <iframe width="{{iframeWidth}}" height="{{iframeHeight}}" scrolling="no" frameborder="no" allow="autoplay" class="souncloud-iframe"
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/297380432&color=%232526&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
  </div></div>
