@import '../../../assets/variables';

h2{
  font-size: 3.4em;
  color: $mid-blue-grey;
}
.layout{
  background: #F1F3FA!important;;
  height:100vh;
}
/* Profile Content */
.profile-content {
  padding: 0 4em;
  background: #fff;
  min-height: 460px;
}


li {
  padding: 1em 2em;
  font-size: 1.4em;
  color: $mid-blue-grey;
}

li:hover{
  border: 1px solid $light-blue;
  color: $light-blue;
  cursor: pointer;
}
