<arf-layout>
  <h2 class="text-muted">Hello, {{user?.firstName}} {{user?.lastName}}</h2>



  <h2 class="mt-5">Account</h2>
  <div class="mt-4">

    <ul class="list-group mt-4">
      <li class="list-group-item" [routerLink]="['/account/my-details']">Account Details <span class="float-right">
        <i class="fa fa-user"></i>
      </span>
      </li>
      <li class="list-group-item" [routerLink]="['/account/change-password']">Change Password <span class="float-right">
        <i class="fa fa-lock"></i>
      </span>
      </li>
    </ul>
  </div>
  <h2 class="mt-5">Website</h2>
  <div class="mt-4">
    <ul class="list-group mt-4">
      <li class="list-group-item" [routerLink]="['/cms/content']">Edit content <span class="float-right">
        <i class="fa fa-eye"></i>
      </span>
      </li>
      <li class="list-group-item" [routerLink]="['/cms/photos']">Edit photos <span class="float-right">
        <i class="fa fa-image"></i>
      </span>
      </li>
      <li class="list-group-item" [routerLink]=" ['/cms/videos']">Edit videos <span class="float-right">
        <i class="fa fa-video"></i>
      </span>
      </li>
      <li class="list-group-item" [routerLink]="['/cms/reviews']">Edit reviews <span class="float-right">
        <i class="fa fa-check"></i>
      </span>
      </li>
    </ul>
  </div>
</arf-layout>
