<ul class="list-group mt-4">
    <li class="list-group-item" [routerLink]="['content']">Edit content <span class="float-right">
        <i class="fa fa-eye"></i>
      </span>
    </li>
    <li class="list-group-item" [routerLink]="['photos']">Edit photos <span class="float-right">
        <i class="fa fa-image"></i>
      </span>
    </li>
    <li class="list-group-item" [routerLink]=" ['videos']">Edit videos <span class="float-right">
        <i class="fa fa-video"></i>
      </span>
    </li>
    <li class="list-group-item" [routerLink]="['reviews']">Edit reviews <span class="float-right">
        <i class="fa fa-check"></i>
      </span>
    </li>
</ul>
