@import '../../../../assets/variables';

h2{
  font-size: 2.8em;
  color: $mid-blue-grey;
}

.video-type{
  position: absolute;margin-top: 5px;font-size: 1.6em;margin-left:5px;color:#999
}



fieldset {
  .btn-group {
    border: 1px solid #ced4da;
    background-color: #fff;
  }
}

fieldset[disabled] {
  .btn-group {
    background-color: #e9ecef;
    .btn-default{
      background-color: #e9ecef;
    }
  }
}

.fab{
  font-size:1.6em;
  vertical-align: middle;
}
.fa-youtube{
  color:$light-red
}

.fa-vimeo{
  color:$light-blue
}