<div class="row mt-4">

	<div class="col-12 mb-5">
      <button class="btn" routerLink="../" [class.btn-outline-dark]="true">
        <i class="fa fa-arrow-alt-circle-left"></i>
        Back</button>
	</div>

	<div class="col-12" *ngIf="id">
		<h2>Edit Video <span class="float-right">
      <button class="btn" (click)="toogleEdit()" [class.btn-outline-dark]="!isEdit" [class.btn-danger]="isEdit">
        <i class="fa fa-edit"></i>
        {{isEdit? 'Cancel Edit' : 'Edit' }}</button></span></h2>
	</div>
	<div class="col-12" *ngIf="!id">
		<h2>Add Video</h2>
	</div>

	<div class="col-12 ">

		<form name="form" role="form" [formGroup]="form" (ngSubmit)="updateVideo()">
			<fieldset [disabled]="isEdit ? null : 'disabled'">

				<div class="form-group position-relative" >
					<label class="form-control-label">Type</label><br/>
					<div class="btn-group p-2" dropdown >
						<button type="button" class="btn btn-default"><span *ngIf="videoType"><i class="fab fa-{{videoType === 'y' ? 'youtube' : 'vimeo'}}"></i> {{videoType === 'y' ? 'Youtube' : 'Vimeo'}}</span></button>
						<button id="button-split" type="button" dropdownToggle class="btn btn-default dropdown-toggle dropdown-toggle-split"
								aria-controls="dropdown-split">
							<span class="caret"></span>
							<span class="sr-only">Split button!</span>
						</button>
						<ul id="dropdown-split" *dropdownMenu class="dropdown-menu"
							role="menu" aria-labelledby="button-split">
							<li role="menuitem"><a class="dropdown-item"  (click)="toggleVideo('v')">Vimeo</a></li>
							<li class="divider dropdown-divider"></li>
							<li role="menuitem"><a class="dropdown-item"  (click)="toggleVideo('y')" >Youtube</a></li>
						</ul>
					</div>
				</div>
				<div class="form-group">
					<label for="title">Video Image</label><br>
					<img src="{{pic}}" class="img-fluid" width="300px"/>
				</div>
				<!--VIDEO ID-->
				<div class="form-group">
					<label for="videoId">Video Id</label>
					<input type="text" placeholder="Enter your videoId" id="videoId" name="videoId" class="form-control"
						   formControlName="videoId" (change)="updateImage()">
					<div *ngIf="form.controls['videoId'].dirty && form.controls['videoId'].invalid">
						<p class="error-text" *ngIf="form.controls['videoId'].errors.required">
							Video Id is required.
						</p>
					</div>
				</div>

				<div class="form-group">
					<label for="title">Video title</label>
					<textarea class="form-control" name="title" id="title" placeholder="title" rows="6"
							  formControlName="title"></textarea>
					<div class="text-danger" *ngIf="form.controls['title'].dirty && form.controls['title'].invalid">
						<p class="error-text" *ngIf="form.controls['title'].errors.required">
							Your title is required.
						</p>
					</div>
				</div>

				<button type="submit" [disabled]="form.invalid" class="mt-3 btn btn-primary btn-lg" >
					{{id ? 'Update' : 'Add new video'}}</button>

			</fieldset>
		</form>
	</div>
</div>
