<div class="border p-2 bg-white" [class.disabled]="isOnEdit">
  <div class="row d-flex">
    <div class="col-9">
      <h2 class="">{{item?.title}}</h2>
      <p class="text-muted text-truncate">{{item?.description}}</p>
    </div>
    <div class="col-3">
        <span class="float-right">
            <button class="btn btn-outline-dark" (click)="edit(item)">
                    <i class="fa fa-edit"></i>
                    Edit
            </button>
            <button type="button" class="btn ml-1" [class.btn-outline-danger]="true" (click)="remove(item)">
                    <i class="fa fa-trash"></i>
            </button>
        </span>
    </div>
  </div>
</div>
