<div class="modal-header bg-dark">
  <h4 class="modal-title pull-left ">&nbsp;</h4>
  <button type="button" class="close pull-right text-light" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div  #wrap class="modal-body bg-dark">
  <div  class="row justify-content-center">
    <h2 class="lead p-4 text-muted">{{display?.title}}</h2>
  </div>
  <div class="col-12 text-center" *ngIf="!iframe">
    <img src="assets/photos/{{display?.image}}" class="img-fluid"/>
  </div>
  <div class="col-12 text-center" *ngIf="iframe">
    <iframe width="{{wrap.offsetWidth-60}}" height="{{wrap.offsetWidth/2}}" [src]="sanIframe" scrolling="no" frameborder="no" allow="autoplay"></iframe>
  </div>
  <div class="col-12 text-center">
    <p class="lead p-4 text-muted wrapit">{{display?.description}}</p>
  </div>
</div>


