<div class="layout container-fluid p-4">
	<div class="row">
		<div class="col-3 pl-0">
			<arf-sidebar-menu [user]="user"></arf-sidebar-menu>
		</div>
		<div class="col-12 col-lg-9 content">
			<ng-content></ng-content>
		</div>
	</div>
</div>

