@import '../../../../assets/variables';

.layout{
  background: #F1F3FA!important;;
  min-height:700px;

}

.content {
  //background-color: white;
  //border-radius: 0.5rem;
  //box-shadow: $box-shadow;
  //border:1px solid rgba(0, 0, 0, 0.125);
  //padding:4em 2em;
  padding-bottom:10em;
}
