<div class="wrap-videos">
  <div class="col-12 col-sm-4 col-md-4 col-lg-2 col-xl-2 p-3 it" *ngFor="let photo of videos$;let index=index"
       (click)="openModal(photo)">
    <!--<img src="{{photo?.pic}}" class="img-fluid" style="width: 100%" height="100%"/>-->
    <div class="photo" [ngStyle]="{'background-image':'url('+photo?.pic+')'}" >&nbsp;</div>
  </div>
</div>
