.wrap-videos{
  display:flex;
  flex-wrap: wrap;
  padding-top:1em;
  padding-bottom:4em;
}
.photo{
  min-height:220px;
  background-size: cover;
  background-position:center
}
.it:hover{cursor:pointer}