<div class="col-12 pl-0">
  <div class="pb-4">
    <div class="row d-flex">
      <div class="col-2 label">First</div>
      <div class="col-2 val">{{user?.firstName}}</div>
    </div>
    <div class="row d-flex">
      <div class="col-2 label">Last</div>
      <div class="col-2 val">{{user?.lastName}}</div>
    </div>
    <div class="row d-flex">
      <div class="col-2 label">Username</div>
      <div class="col-2 val">{{user?.username}}</div>
    </div>
    <div class="row d-flex">
      <div class="col-2 label">Email</div>
      <div class="col-2 val">{{user?.email}}</div>
    </div>
    <div class="row d-flex">
      <div class="col-2 label">Role</div>
      <div class="col-2 val">{{user?.roles[0]}}</div>
    </div>
  </div>
</div>
