
<ul class="list-inline">
    <li class="social" *ngFor="let soc of social">
        <a [href]="soc.link | safe" target="_blank" rel="noopener">
            <i class="fab fa-{{soc.icon}} fa-{{size}}x"></i>
        </a>
    </li>
</ul>
