.list-inline {
    padding: 1em
}

.list-inline > li {
    display: inline-block;

    padding-right: 5em ;
    color: #999;
}

.list-inline > li a {
    color: #999;
    font-size: 1.0em
}

.list-inline > li a:hover {
    color: #fff;
    font-size: 1.0em
}

.fa-facebook{
    color: #3B5998;
}

.fa-twitter{
    color: #189cce;
}

.fa-facebook:hover{
    color: #134898;
}

.fa-twitter:hover{
    color: #196dce;
}