<div class="container-fluid">
	<arf-content-title [content]="content"></arf-content-title>
	<arf-content-photos [photos$]="content?.photos"></arf-content-photos>
	<arf-content-bio [content]="content"></arf-content-bio>
	<arf-content-sub-title [title]="'Works '" [position]="'left'"></arf-content-sub-title>
	<arf-content-videos [videos$]="content?.videos"></arf-content-videos>
	<arf-soundcloud></arf-soundcloud>
	<arf-content-review [reviews]="reviews$"></arf-content-review>
</div>

<arf-content-contact></arf-content-contact>
<arf-pre-footer></arf-pre-footer>

