h3{
  color:white
}

@media (min-width: 576px) { .photo{
  height:250px;
} }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { .photo{
  height:250px;
} }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { .photo{
  height:250px;
} }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { .photo{
  max-height:250px;
} }