@import '../../../../assets/variables';

$colorin: '';

.arf-notification-container {
  position: fixed;
  z-index: 33;
  top: 1em;
  right: 1em;
  .arf-notification {
    height: 100px;
    width: 400px;
    background-color: $white;
    box-shadow: $box-shadow;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &.toast-error {
      &.toast {
        background-color: $red;
      }
    }

    &.toast-success {
      background-color: $success;
    }

    &.toast-warning {
      background-color: $warning;
    }
    &-icon {
      padding:2em;
      color: $white;
    i {
        font-size: 24px;
        color: $white;
      }
    }
    &-message {
      &-title {
          font-size: 19px;
          font-weight: 600;
          letter-spacing: 0.25px;
           color: $white;
      }
      &-body {
        color: $white;
        font-size: 14px;
        letter-spacing: 0.25px;
        white-space: pre-wrap;
        width:300px;
      }
    }
    &-close {
      i {
        font-size: 20px;
        cursor: pointer;
        margin: 1rem;
        position: absolute;
        color: $white;
        right: 0;
        top: 0;
      }
    }
  }
}
