<div class="arf-notification-container">
  <div class="arf-notification {{toastClasses}}" toastContainer>
    <div class="arf-notification-icon ">
      <i class="fa fa-exclamation-circle" *ngIf="toastClasses === 'toast-error toast'"></i>
      <i class="fa fa-check-circle" *ngIf="toastClasses === 'toast-success toast'"></i>
      <i class="fa fa-exclamation-triangle" *ngIf="toastClasses === 'toast-warning toast'"></i>
    </div>
    <div class="arf-notification-message ">
      <div class="arf-notification-message-title">
          {{title || 'Test Notification title'}}
      </div>
      <p class="arf-notification-message-body ">
        {{message || 'Test notification message.'}}
      </p>
    </div>
    <div class="arf-notification-close ">
      <i class="fa fa-times"  (click)="remove()"></i>
    </div>
  </div>
</div>
