
.photo{
  height:250px;
  background-size: cover;
  background-position:top left;
  opacity: .9;
  box-shadow: 0 0 1rem 0 rgba(#000, 0.15);

}

.photo:hover{
  cursor: pointer;
 opacity: 1;


}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .photo{
    height:180px;
  }
}

@media (min-width: 1400px) {
  .photo{
    height:250px;
  }
}
