<div class="border p-2 bg-white arf-drag" [class.disabled]="isOnEdit">
  <div class="row d-flex">
    <div class="col-4">
      <img src="assets/photos/{{item?.image}}" width="120px" height="90px"/>
    </div>
      <div class="col-4">
         <p class="text-muted text-truncate">{{item?.description}}</p>
      </div>
    <div class="col-4">
        <span class="float-right">
            <button class="btn btn-outline-dark" (click)="edit(item)">
                    <i class="fa fa-edit"></i>
                    Edit
            </button>
            <button type="button" class="btn ml-1" [class.btn-outline-danger]="true" (click)="remove(item)">
                    <i class="fa fa-trash"></i>
            </button>
        </span>
    </div>
  </div>
</div>
