<div class="modal-header ">
  <button type="button" class="close pull-right text-light" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body ">
  <h3 class="modal-title text-danger text-center ">Please confirm</h3>
  <div class="row justify-content-center">
    <i class="fa fa-5x fa-warning"></i>
  </div>
  <div class="row justify-content-center">
    <p class="lead p-4 text-light text-center" [innerHTML]="display?.title"></p>
    <p class="m-5">
      <button type="button" class="btn btn-outline-danger btn-lg" (click)="onConfirm()" >Yes, delete video</button>
    </p>
  </div>
</div>


