<div class="container-fluid pt-4">
	<div class="col-lg-12 text-center">
		<h1> Login</h1>
	</div>
</div>
<br>
<div class="container-fluid">
	<div class="row d-flex justify-content-center mb-5">
		<div class="col-4 myform">
			<form class="form" role="form" name="form" [formGroup]="form" (ngSubmit)="login()" #loginForm="ngForm">
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" class="form-control" name="email" id="email" placeholder="email"
						   formControlName="email"
						   minlength="5"
						   maxlength="50"
						   pattern="^([0-9a-zA-Z]([-_\\.+]*[0-9a-zA-Z]+)*)@([0-9a-zA-Z]([-_\\.]*[0-9a-zA-Z]+)*)[\\.]([a-zA-Z]{2,9})*$">
				</div>
				<div class="text-danger" *ngIf="form.controls['email'].dirty && form.controls['email'].invalid">
					<p class="error-text" *ngIf="form.controls['email'].errors.required">
						Your email is required.
					</p>
					<p class="error-text" *ngIf="form.controls['email'].errors.minlength">
						Your email is required to be at least 5 characters.
					</p>
					<p class="error-text" *ngIf="form.controls['email'].errors.maxlength">
						Your email cannot be longer than 50 characters.
					</p>
					<p class="error-text" *ngIf="form.controls['email'].errors.pattern">
						Your email needs to be a correct email address.
					</p>
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" class="form-control" name="password" id="password" placeholder="password"
						   formControlName="password">
				</div>
				<div class="text-danger" *ngIf="form.controls['password'].dirty && form.controls['password'].invalid">
					<p class="error-text" *ngIf="form.controls['password'].errors.required">
						Your password is required.
					</p>
				</div>
				<button type="submit" class="btn btn-primary btn-lg">Sign in</button>

				<div class="text-danger mt-5" *ngIf="authenticationError">
					<p class="error-text">{{errorMessage}}</p>
				</div>
			</form>
		</div>
	</div>
</div>


