@import '../../../assets/variables';

.myform{
  background-color: white;
  padding-bottom: 8em;
  padding-top: 2em;
  margin-bottom:5em;
}

form {
  padding:1em

}

label{
  font-size:1.5em;
  color:$light-blue-grey
}

.error-text{
  font-size:1.5em;
}
