<div class="row mt-4">

	<div class="col-12 mb-2">
		<button class="btn" routerLink="../" [class.btn-outline-dark]="true">
			<i class="fa fa-arrow-alt-circle-left"></i>
			Back
		</button>
		<span class="float-right">
			<button class="btn btn-outline-dark" (click)="showCreateForm()" *ngIf="!displayForm">
				<i class="fa fa-plus-circle"></i>
				Add Review
			</button>
			<button *ngIf="displayForm" type="button" class="btn btn-outline-danger" (click)="cancelEdit()">Cancel {{isCreate ? 'Add' : 'Update'}}</button>
          </span>
	</div>
	<div class="col-6">
		<h2 class="pt-4">Reviews</h2>
		<arf-review-item *ngFor="let re of reviews"
						 [item]="re"
						 (onRemove)="removeFromDatabase(re)"
						 (onEdit)="showEditForm(re)">
		</arf-review-item>
	</div>
	<div class="col-6 bg-white border p-4" *ngIf="displayForm">
		<h2 *ngIf="displayForm">{{isCreate ? 'Add' : 'Update'}} Review</h2>
		<form name="form" role="form" [formGroup]="form" (ngSubmit)="handleForm()">
			<fieldset>
				<!--title-->
				<div class="form-group">
					<label for="title">Title</label>
					<input type="text" placeholder="Enter a title" id="title" name="title" class="form-control userName"
						   formControlName="title"
						   minlength="5"
						   maxlength="15">
					<div *ngIf="form.controls['title'].dirty && form.controls['title'].invalid">
						<p class="error-text" *ngIf="form.controls['title'].errors.required">
							Your user name name is required.
						</p>
						<p class="error-text" *ngIf="form.controls['title'].errors.minlength">
							Your user name is required to be at least 5 characters.
						</p>
						<p class="error-text" *ngIf="form.controls['title'].errors.maxlength">
							Your user name cannot be longer than 15 characters.
						</p>
					</div>

				</div>
				<!-- Bio -->
				<div class="form-group">
					<label for="description">Review</label>
					<textarea class="form-control" name="description" id="description" placeholder="description"
							  rows="6" formControlName="description"></textarea>
					<div class="text-danger"
						 *ngIf="form.controls['description'].dirty && form.controls['description'].invalid">
						<p class="error-text" *ngIf="form.controls['description'].errors.required">
							Description is required.
						</p>
					</div>
				</div>
				<button type="submit" [disabled]="form.invalid" class="mt-3 btn btn-primary btn-lg">{{isCreate ? 'Add' :
					'Update'}}
				</button>
			</fieldset>
			<div class="text-danger mt-5" *ngIf="error">
				<p class="error-text">
					<i class="fa  fa-exclamation-circle"></i>
					<span>
        {{errorMessage || 'there was an error'}}
      </span>
				</p>
			</div>
		</form>
	</div>
</div>