@import '../../../assets/variables';
label{
  font-size:1.5em;
  color:$light-blue-grey
}

.error-text{
  font-size:1.5em;
}
h2{
  font-size: 3.4em;
  color: $mid-blue-grey;
}



    p {
      width:100%;
      padding: 1em 2em;
      font-size: 1.4em;
      color: $mid-blue-grey;
      margin-bottom: 2em;
      border: 1px solid $light-blue-grey;
      border-radius: 0.5rem;
    }

  p:hover{
    border: 1px solid $light-blue;
    color: $light-blue;
    cursor: pointer;

  }

  .label{
    font-size: 2em;
    color: $light-grey;
  }

  .val{
    font-size: 2em;
    color: $hover-light-blue;

  }
