.bg-dark {
    color: #f5f5f5;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.137255) 0px 6px 10px 0px, rgba(0, 0, 0, 0.117647) 0px 1px 18px 0px;
     margin-bottom: 0;
}
.navbar-nav>li>a {
    font-size: 1.6em;
}

.nav-link{
    font-size: 1.6em;
}

 .logo{height:25px;margin-top:-3px;border-radius: 50%}
 .example-spacer {
     flex: 1 1 auto;
 }
.header-profile-image {
  border-radius: 50%;
  height: 18px;
  margin-top:-5px;
  margin-right: 5px;
  opacity: 0.8;
  width: 18px;
}
 @media (max-width: 765px){
     .top-menu button{display:none}
 }
