<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="">
      <img src="assets/logo.jpg" class="logo" alt="Matt Brock Logo">
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed=!isCollapsed" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNav" [collapse]="isCollapsed">
      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
        <div *ngFor="let menuItem of menuAuth">
          <li class="nav-item" class="nav-item"  *arfHasAnyAuthority="['admin','user']" >
            <a class="nav-link text-capitalize" [routerLink]=" [menuItem.state]"routerLinkActive="active"
               [routerLinkActiveOptions]="{exact: true}">
              <img src="assets/avatar.png" class="header-profile-image" *ngIf="menuItem.title === 'Account'" />
              {{menuItem.title === 'Account' ? user?.firstName : menuItem.title }}</a>
          </li>
        </div>
        <li class="nav-item" *arfHasAnyAuthority="['admin','user']">
          <a href  class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
        <li class="nav-item" class="nav-item" *ngFor="let menuItem of menu"  >
          <a class="nav-link" [routerLink]=" [menuItem.state]"routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}">{{menuItem.title}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
