<footer class="container-fluid text-center">
    <div class="row">
        <div class="col end-fot">
            <a target="_blank" href="" class="text-muted"
               title="powered by freepowder">Matt Brock </a> &copy;  <span class="text-muted">2018 </span>
        </div>
    </div>
</footer>
