<div class="border p-2 bg-{{color}} arf-drag">
  <div class="row d-flex">
    <div class="col-1">
      <span class="text-{{color==='light' ? 'muted' : 'danger'}} index-video p-1">{{index}}</span>
    </div>
    <div class="col-6">
      <img src="{{item?.pic}}" width="50px"/>
      <span class="pl-2 text-muted">
						   <i class="fab fa-{{item?.type === 'y' ? 'youtube' : 'vimeo'}}"></i>
					    </span>
      <span class="pl-2 text-muted">{{item?.videoId}}</span>
    </div>
    <div class="col-5">
        <span class="float-right">
            <button class="btn btn-outline-dark" [routerLink]="item?._id">
                    <i class="fa fa-edit"></i>
                    Edit
            </button>
            <button type="button" class="btn ml-1" [class.btn-outline-danger]="true" (click)="remove(item)">
                    <i class="fa fa-{{color==='light' ? 'trash' : 'times'}}"></i>
            </button>
        </span>
    </div>
  </div>
</div>
