@import '../../../../assets/variables';


.index-video{
  font-size: 1.8em;
}

.arf-drag{
  cursor: grab;
}

.fab{
  font-size:1.6em;
  vertical-align: middle;
}
.fa-youtube{
  color:$light-red
}

.fa-vimeo{
  color:$light-blue
}