<div class="row pt-4">
  <div class="col-12 ">
    <h2>Change password </h2>
  </div>
  <div class="col-12 ">
    <form name="form" role="form"  [formGroup]="form" (ngSubmit)="changePassword()"  >
      <fieldset >
        <!--PASSWORD -->
        <div class="form-group">
          <label for="password">Old Password</label>
          <input type="password" class="form-control" name="password" id="password" placeholder="password"
                 formControlName="password">
        </div>
        <ng-template #tolTemplate>
          <div class="text-left">
            At least one upper case letter.<br>
            At least one digit. <br>
            At least one special character. <br>
          </div>
        </ng-template>

        <!--PASSWORD -->
        <div class="form-group">
          <label for="password">New Password</label>
          <label class="float-right" container="body" [tooltip]="tolTemplate" placement="top"> <i class="fa fa-info-circle"></i></label>
          <input type="password" class="form-control" name="newPassword" id="newPassword" placeholder="new password"
                 formControlName="newPassword"
                 pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$">
        </div>

        <arf-password-strength-bar [passwordToCheck]="form.controls['newPassword'].value"></arf-password-strength-bar>

        <div class="text-danger" *ngIf="form.controls['newPassword'].dirty && form.controls['newPassword'].invalid">
          <p class="error-text" *ngIf="form.controls['newPassword'].errors.required">
            Your password is required.
          </p>
          <p class="error-text" *ngIf="form.controls['newPassword'].errors.pattern">
            Enter a valid password.
          </p>
        </div>

        <!--PASSWORD -->
        <div class="form-group">
          <label for="password">Confirm Password</label>
          <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" placeholder="password"
                 formControlName="confirmPassword"
                 pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$">
        </div>

        <div class="text-danger" *ngIf="form.controls['confirmPassword'].dirty && form.controls['confirmPassword'].invalid">
          <p class="error-text" *ngIf="form.controls['confirmPassword'].errors.required">
            Your password is required.
          </p>
          <p class="error-text" *ngIf="form.controls['confirmPassword'].errors.pattern">
            Enter a valid password.
          </p>
        </div>

        <button type="submit" [disabled]="form.invalid" class="mt-3 btn btn-primary btn-lg" >Change my password</button>
      </fieldset>
      <div class="text-danger mt-5" *ngIf="error">

        <p class="error-text">
          <i class="fa  fa-exclamation-circle"></i>
          <span >
              {{errorMessage || 'there was an error updating the user'}}
            </span>
        </p>
      </div>
    </form>
  </div>

</div>


