<div class="col-12">
  <div class="text-center">
    <img src="https://via.placeholder.com/150x150" class="img-responsive avatar" alt="">
  </div>
    <p class="text-center name pt-3">
        {{user?.email }}
    </p>
      <p class="text-center role">
        {{user?.roles[0] }}
      </p>

  <!-- END SIDEBAR BUTTONS -->
  <!-- SIDEBAR MENU -->
  <div class="profile-usermenu">
    <ul class="list-group nav">
      <li class="list-group-item" *ngFor="let menuItem of menuAuth">
        <a routerLink="{{menuItem.state}}" routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">
          <i class="fa fa-{{menuItem.icon}}"></i>
          {{menuItem.title}}</a>
      </li>
    </ul>
  </div>
  <!-- END MENU -->
</div>
