@import '../../../../../assets/variables';

.list-group-item{
  font-size: 1.7em;
  a{text-decoration: none}
}

.avatar {
  border-radius: 50%;
}

.name{
  font-size:2em;
  color:$dark-blue
}

.role{
  font-size: 1.4em;
  color: $mid-blue-grey
}
a.active {
  color: $mid-blue-grey
}
