/* Colors */
$white: #ffffff;

// primary
$dark-blue: #002b52;
$mid-blue: #189cce;
$dark-blue-grey: #335669;
$mid-blue-grey: #527a91;
$light-blue-grey: #b7c7d1;
// greys
$dark-grey: #272727;
$mid-grey: #6f6f6f;
$light-grey: #d8e0e5;
$white-grey: #eff4f7;
$light-grey: #d8e0e5;

// others
$light-blue: #00b9ff;
$mid-green: #84bd00;
$dark-green: #1da119;
$light-purple: #939;
$light-orange: #f90;
$yellow: #fc0;
$brown: #ff6d6d;
$light-red: #ff0000;
$red: #d40000;
//
$error: $red;
$success: $dark-green;
$warning: $light-orange;

$border-light-grey: 2px solid $white-grey;
$border-blue-grey: 2px solid #355572;
$box-shadow: 0 0 1rem 0 rgba(#000, 0.15);

$hover-blue: #033c6f;
$hover-light-blue: #007eb1;
$hover-green: #0a8006;

$bg-overlay: #002b52;
$grey-bg: #f7f9fb;
