/* You can add global styles to this file, and also import other style files */
@import './assets/variables';
//@import '~ngx-toastr/toastr.css';

// should be after your bootstrap imports, it uses bs4 variables, mixins, functions
@import '../node_modules/bootstrap/scss/bootstrap';


html, body{
  height: 100%;
  width:100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 81.25%;
  background-repeat: no-repeat;
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow-x: hidden;
}
.main{
  //padding-left:2em;
  //padding-right:2em;
}
// bootstrap overrides
.form-control{
  padding: 25px 15px;
  font-size: 1.9em;
  border-radius: 0;
}
.btn{
  border-radius: 0;
}

a{
  color:$mid-blue-grey;
  text-decoration: none;
}

a:hover{
  color:$light-blue;
  text-decoration: none;
}



.modal-content{
  border: 1px solid black;
  background-color: black;
}

form{
  label{
    font-size:1.5em;
    color:$light-blue-grey
  }
}
.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

