<div class="row mt-4">
	<div class="col-12 mb-2">
		<button class="btn" routerLink="../" [class.btn-outline-dark]="true">
			<i class="fa fa-arrow-alt-circle-left"></i>
			Back</button>
		<span class="float-right">
				<button class="btn class.btn-outline-dark " routerLink="add">
					<i class="fa fa-plus-circle"></i>
					Add Video
				</button>
          </span>
	</div>
</div>

<div class="row d-flex">

	<div class="col-6 mt-5 mb-2 videos-titles">Website
		<span class="float-right">

		</span>
	</div>
	<div class="col-6 mt-5 mb-2 videos-titles">
		<p>Database
		<span class="float-right">
			<!--<button type="button" class="btn btn-outline-primary btn-lg" (click)="updateOrder()" >Save</button>-->
		</span>
		</p>
	</div>

	<div class="col-6">

		<div cdkDropList (cdkDropListDropped)="onDrop($event)" #display="cdkDropList" [cdkDropListData]="videos" [cdkDropListConnectedTo]="[all]">
			<arf-video-item  cdkDrag  *ngFor="let it of videos;let index=index"
							 [item]="it"
							 [color]="'white'"
							 [index]="index + 1"
							 [cdkDragData]="it"
							 (onRemove)="removeFromDisplay(it)" ></arf-video-item>
		</div>
		<button type="button" class="mt-2 btn btn-outline-primary btn-lg" (click)="updateOrder()" >Update Order</button>
	</div>

	<div class="col-6">

		<div cdkDropList (cdkDropListDropped)="onDrop($event)" #all="cdkDropList" [cdkDropListData]="videosAll" [cdkDropListConnectedTo]="[display]">

			<arf-video-item  cdkDrag  *ngFor="let vid of videosAll;let index=index"
							 [item]="vid"
							 [index]="index + 1"
							 [cdkDragData]="vid"
							 (onRemove)="removeFromDatabase(vid)" ></arf-video-item>
		</div>
	</div>





</div>

