.prefoot-wrap {
  padding: 4em 2em;
  background-color: #111;
  color: #999;
  margin: 0 auto;
  text-align: center;
  h3 {
    color: #999;
    font-size: 2.8rem;
    font-weight: 300;
    //font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  h4 {
    font-size: 2rem;
  }

  /*.end-fot{color: #999; font-size:1.7em}*/
  a:hover {
    opacity:0.7
  }

}

@media (max-width: 996px) {
  .prefoot-wrap {
    padding: 1em;
    padding-top: 2em;
    padding-bottom: 2em;

    .list-inline > li a {
      color: #000;
      font-size: 0.7em
    }

    h2 {
      font-size: 2.5rem;
    }

    h4 {
      font-size: 1.6rem;
    }

  }

}
