<div class="container-fluid prefoot-wrap">
    <!--<arf-content-sub-title [title]="'Links'"></arf-content-sub-title>-->
    <div class="row d-flex justify-content-center">
        <a class="col-12 col-sm-6 col-md-4 col-lg-2" *ngFor="let item of staticContent; let index =index;" href="{{item.link}}" rel="noopener" target="_blank">
            <!--<h2>{{item.title}}</h2>-->
            <!--<h4 class="p-1" [innerHTML]="item.text" ></h4>-->
            <img src="assets/{{item?.image}}" class="logo-brand" title="{{item?.title}} - visit {{item?.link}}"  alt="{{item?.title}} - visit {{item?.link}}" />
        </a>
    </div>
</div>
