<div class="row mt-4">
	<div class="col-12 ">
		<h2>My details <span class="float-right">
      	<button class="btn" (click)="isEditAccount=!isEditAccount" [class.btn-outline-dark]="!isEditAccount"
			  [class.btn-danger]="isEditAccount">
        	<i class="fa fa-edit"></i>
        	{{isEditAccount? 'Cancel Edit' : 'Edit' }}</button></span></h2>
	</div>
	<div class="col-12 ">
		<form name="form" role="form" [formGroup]="form" (ngSubmit)="updateAccount()">
			<fieldset [disabled]="isEditAccount ? null : 'disabled'">
				<!--FIRST NAME-->
				<div class="form-group">
					<label for="firstName">First Name</label>
					<input type="text" placeholder="Enter your first name" id="firstName" name="firstName"
						   class="form-control"
						   formControlName="firstName"
						   minlength="3"
						   maxlength="50"
						   pattern="^[A-Za-z0-9-]*$">
					<div *ngIf="form.controls['firstName'].dirty && form.controls['firstName'].invalid">
						<p class="error-text" *ngIf="form.controls['firstName'].errors.required">
							Your first name is required.
						</p>
						<p class="error-text" *ngIf="form.controls['firstName'].errors.minlength">
							Your first name is required to be at least 3 characters.
						</p>
						<p class="error-text" *ngIf="form.controls['firstName'].errors.maxlength">
							Your first name cannot be longer than 50 characters.
						</p>
						<p class="error-text" *ngIf="form.controls['firstName'].errors.pattern">
							Your first name can only contain letters and digits.
						</p>
					</div>
				</div>

				<!--LAST NAME-->
				<div class="form-group">
					<label for="firstName">Last Name</label>
					<input type="text" placeholder="Enter your last name" id="lastName" name="lastName"
						   class="form-control"
						   formControlName="lastName"
						   minlength="3"
						   maxlength="50"
						   pattern="^[A-Za-z0-9-]*$">
					<div *ngIf="form.controls['lastName'].dirty && form.controls['lastName'].invalid">
						<p class="error-text" *ngIf="form.controls['lastName'].errors.required">
							Your last name is required.
						</p>
						<p class="error-text" *ngIf="form.controls['lastName'].errors.minlength">
							Your last name is required to be at least 3 characters.
						</p>
						<p class="error-text" *ngIf="form.controls['lastName'].errors.maxlength">
							Your last name cannot be longer than 50 characters.
						</p>
						<p class="error-text" *ngIf="form.controls['lastName'].errors.pattern">
							Your last name can only contain letters and digits.
						</p>
					</div>
				</div>

				<!--USER NAME-->
				<div class="form-group">
					<label for="userName">Username</label>
					<input type="text" placeholder="Enter a username" id="userName" name="userName"
						   class="form-control userName"
						   formControlName="userName"
						   minlength="5"
						   maxlength="15"
						   pattern="^[A-Za-z0-9-]*$">
					<div *ngIf="form.controls['userName'].dirty && form.controls['userName'].invalid">
						<p class="error-text" *ngIf="form.controls['userName'].errors.required">
							Your user name name is required.
						</p>
						<p class="error-text" *ngIf="form.controls['userName'].errors.minlength">
							Your user name is required to be at least 5 characters.
						</p>
						<p class="error-text" *ngIf="form.controls['userName'].errors.maxlength">
							Your user name cannot be longer than 15 characters.
						</p>
						<p class="error-text" *ngIf="form.controls['userName'].errors.pattern">
							Your user name can only contain letters and digits.
						</p>
					</div>

				</div>

				<!-- EMAIL -->
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" class="form-control" name="email" id="email" placeholder="email"
						   formControlName="email"
						   minlength="5"
						   maxlength="50"
						   pattern="^([0-9a-zA-Z]([-_\\.+]*[0-9a-zA-Z]+)*)@([0-9a-zA-Z]([-_\\.]*[0-9a-zA-Z]+)*)[\\.]([a-zA-Z]{2,9})*$">
					<div class="text-danger" *ngIf="form.controls['email'].dirty && form.controls['email'].invalid">
						<p class="error-text" *ngIf="form.controls['email'].errors.required">
							Your email is required.
						</p>
						<p class="error-text" *ngIf="form.controls['email'].errors.minlength">
							Your email is required to be at least 5 characters.
						</p>
						<p class="error-text" *ngIf="form.controls['email'].errors.maxlength">
							Your email cannot be longer than 50 characters.
						</p>
						<p class="error-text" *ngIf="form.controls['email'].errors.pattern">
							Your email needs to be a correct email address.
						</p>
					</div>
				</div>
				<button type="submit" [disabled]="form.invalid" class="mt-3 btn btn-primary btn-lg">Update</button>
			</fieldset>
			<div class="text-danger mt-5" *ngIf="error">

				<p class="error-text">
					<i class="fa  fa-exclamation-circle"></i>
					<span>
              {{errorMessage || 'there was an error updating the user'}}
            </span>
				</p>
			</div>
		</form>
	</div>
</div>
