.review{
  background-color: black;
  padding:1em;
  box-shadow: 0 0 1rem 0 rgba(#000, 0.15);

}
h6 {
  color: #999;
  font-size: 1.8rem;
  font-weight: 300;
  //font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.rev{
  padding-top: 5em;
  padding-bottom: 10em;
}
.wrap-rev{
  padding-top: 2em;
  display:flex;
  flex-wrap: wrap;
}
