<div class="rev">
  <arf-content-sub-title [title]="'Credits'" [position]="'left'"></arf-content-sub-title>
  <div class="wrap-rev mt-2">
    <div class="col-12 col-lg-4 pb-5" *ngFor="let re of reviews">
      <div class="review h-100">
        <h2 class="p-2 text-light">
          {{re?.title}}</h2>
        <h6 class="p-2 text-light">
          {{re?.description}}
        </h6>
      </div>
    </div>
  </div>

</div>
