<div class="row mt-4">

  <div class="col-12 mb-5">
    <button class="btn" routerLink="../" [class.btn-outline-dark]="true">
      <i class="fa fa-arrow-alt-circle-left"></i>
      Back</button>
  </div>


  <div class="col-12 ">
    <h2>Site Content <span class="float-right">
      <button class="btn" (click)="isEdit=!isEdit" [class.btn-outline-dark]="!isEdit"  [class.btn-danger]="isEdit">
        <i class="fa fa-edit"></i>
        {{isEdit? 'Cancel Edit' : 'Edit' }}</button></span></h2>
  </div>
  <div class="col-12 ">

    <div class="col-12 bg-dark mt-4 mb-4" *ngIf="content">
      <div class="row pt-3">
        <div class="p-2">
          <h1 class="text-light">{{form.controls['firstName'].value}} {{form.controls['lastName'].value}} <span class="text-muted">{{form.controls['otherName'].value}}</span></h1>
          <h3 class="text-muted">{{form.controls['title'].value}}</h3>
        </div>
      </div>
    </div>

    <form name="form" role="form"  [formGroup]="form" (ngSubmit)="updateContent()" >
      <fieldset [disabled]="isEdit ? null : 'disabled'">

        <div class="row d-flex">
          <!--FIRST NAME-->
          <div class="form-group col-6 ">
            <label for="firstName">First Name</label>
            <input type="text" placeholder="Enter your first name"  id="firstName" name="firstName" class="form-control"
                   formControlName="firstName"
                   minlength="3"
                   maxlength="50"
                   pattern="^[A-Za-z0-9-]*$">
            <div *ngIf="form.controls['firstName'].dirty && form.controls['firstName'].invalid">
              <p class="error-text" *ngIf="form.controls['firstName'].errors.required">
                Your first name is required.
              </p>
              <p class="error-text" *ngIf="form.controls['firstName'].errors.minlength">
                Your first name is required to be at least 3 characters.
              </p>
              <p class="error-text" *ngIf="form.controls['firstName'].errors.maxlength">
                Your first name cannot be longer than 50 characters.
              </p>
              <p class="error-text" *ngIf="form.controls['firstName'].errors.pattern">
                Your first name can only contain letters and digits.
              </p>
            </div>
          </div>
          <!--LAST NAME-->
          <div class="form-group col-6 ">
            <label for="firstName">Last Name</label>
            <input type="text" placeholder="Enter your last name"  id="lastName" name="lastName" class="form-control"
                   formControlName="lastName"
                   minlength="3"
                   maxlength="50"
                   pattern="^[A-Za-z0-9-]*$">
            <div *ngIf="form.controls['lastName'].dirty && form.controls['lastName'].invalid">
              <p class="error-text" *ngIf="form.controls['lastName'].errors.required">
                Your last name is required.
              </p>
              <p class="error-text" *ngIf="form.controls['lastName'].errors.minlength">
                Your last name is required to be at least 3 characters.
              </p>
              <p class="error-text" *ngIf="form.controls['lastName'].errors.maxlength">
                Your last name cannot be longer than 50 characters.
              </p>
              <p class="error-text" *ngIf="form.controls['lastName'].errors.pattern">
                Your last name can only contain letters and digits.
              </p>
            </div>
          </div>
          <!--OTHER NAME-->
          <div class="form-group col-6 ">
            <label for="firstName">Other Name</label>
            <input type="text" placeholder="Enter your other name"  id="otherName" name="otherName" class="form-control"
                   formControlName="otherName"
                   minlength="3"
                   maxlength="50">
            <div *ngIf="form.controls['otherName'].dirty && form.controls['otherName'].invalid">
              <p class="error-text" *ngIf="form.controls['otherName'].errors.required">
                Your last name is required.
              </p>
              <p class="error-text" *ngIf="form.controls['otherName'].errors.minlength">
                Your last name is required to be at least 3 characters.
              </p>
              <p class="error-text" *ngIf="form.controls['otherName'].errors.maxlength">
                Your last name cannot be longer than 50 characters.
              </p>
            </div>
          </div>
          <!--title-->
          <div class="form-group col-6 ">
            <label for="title">Title</label>
            <input type="text" placeholder="Enter a title"  id="title" name="title" class="form-control userName"
                   formControlName="title"
                   minlength="5"
                   maxlength="15">
            <div *ngIf="form.controls['title'].dirty && form.controls['title'].invalid">
              <p class="error-text" *ngIf="form.controls['title'].errors.required">
                Your user name name is required.
              </p>
              <p class="error-text" *ngIf="form.controls['title'].errors.minlength">
                Your user name is required to be at least 5 characters.
              </p>
              <p class="error-text" *ngIf="form.controls['title'].errors.maxlength">
                Your user name cannot be longer than 15 characters.
              </p>
            </div>

          </div>
        </div>



        <div class="col-12 bg-dark mt-4 mb-4">
          <div class="row pt-3">
            <div class="p-2">
              <h3 class="text-muted">Bio</h3>
              <p class="lead text-light p-2" style="font-size:2em" innerHTML="{{form.controls['bio'].value}}"></p>
            </div>
          </div>
        </div>
        <!-- Bio -->
        <div class="form-group">
          <label for="bio">Bio</label>
          <textarea class="form-control" name="bio" id="bio" placeholder="bio" rows="6" formControlName="bio"></textarea>
          <div class="text-danger" *ngIf="form.controls['bio'].dirty && form.controls['bio'].invalid">
            <p class="error-text" *ngIf="form.controls['bio'].errors.required">
              Your bio is required.
            </p>
          </div>
        </div>
        <button type="submit" [disabled]="form.invalid" class="mt-3 btn btn-primary btn-lg" >Update</button>
      </fieldset>
      <div class="text-danger mt-5" *ngIf="error">

        <p class="error-text">
          <i class="fa  fa-exclamation-circle"></i>
          <span >
              {{errorMessage || 'there was an error updating the user'}}
            </span>
        </p>
      </div>
    </form>
  </div>
</div>

