@import '../../../../assets/variables';

.sofb-subheader{
    background-color: $light-blue-grey;
    h1{
        color:white;
        font-size:2.4em;
        margin-bottom:0;
        span {
            font-size: 0.7em;
            line-height: 30px;
            color:$dark-blue-grey;
        }
    }
}
