<div class="container-fluid sofb-subheader" *ngIf="title!==''">
    <div class="row p-4">
        <div class="container">
            <h1> {{title}}
                <span class="float-right" *ngIf="title==='Weather'">yahoo weather</span>
                <span class="float-right" *ngIf="title==='Music'">theaudiodb.com</span>
            </h1>
        </div>

    </div>
</div>
